[[extend 'layout.html']]

<section class="section">
  <div class="container">
    <div class="tile is-ancestor">
      <div class="tile">
        <div class="tile is-parent">
          <div class="tile is-child notification is-info">
            <div class="box">
              This is item 1.  The status is [[=state1]]
            </div>
            <a class="button is-success" href="[[=URL('toggle', 1, vars=dict(thumb='up'), signer=url_signer)]]"><i class="fa fa-thumbs-up"></i></a>
            <a class="button is-danger"  href="[[=URL('toggle', 1, vars=dict(thumb='down'), signer=url_signer)]]"><i class="fa fa-thumbs-down"></i></a>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="tile is-child notification is-info">
            <div class="box">
              This is item 2.  The status is [[=state2]]
            </div>
            <a class="button is-success" href="[[=URL('toggle', 2, vars=dict(thumb='up'), signer=url_signer)]]"><i class="fa fa-thumbs-up"></i></a>
            <a class="button is-danger"  href="[[=URL('toggle', 2, vars=dict(thumb='down'), signer=url_signer)]]"><i class="fa fa-thumbs-down"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>